<div *ngIf="isLoading" class="text-center">Loading...</div>
<mat-card
  class="mat-card shadow-sm mt-3"
  style="margin: 30px"
  appearance="outlined"
  *ngIf="!isLoading && forumPost"
>
  <mat-card-header class="d-flex align-items-center">
    <img
      src="./../../../../assets/images/generic-profile.png"
      class="rounded-circle mr-2"
      alt="avatar"
      width="40"
      height="40"
    />
    <div style="padding: 20px">
      <mat-card-title
        style="margin-top: -30px; margin-left: -50px; font-weight: bold"
        >{{ forumPost.title }}</mat-card-title
      >
      <mat-card-subtitle>
        <span
          >{{ forumPost.creator.firstName }}
          {{ forumPost.creator.lastName }}</span
        >
        <br />
        <small class="text-muted">{{ forumPost.dateCreated | date : "medium" }}</small>
      </mat-card-subtitle>
    </div>
  </mat-card-header>
  <mat-card-content
    ><br />
    <p>{{ forumPost.content }}</p>
    <hr />
    <small class="text-muted">
      Last Edited: {{ hasBeenEdited() ? (forumPost.lastEdited | date : "medium") : 'Never' }}
    </small>
    <mat-card-actions
      *ngIf="isCreator(forumPost)"
      class="d-flex justify-content-end"
    >
      <button
        mat-button
        class="btn btn-secondary mr-3"
        (click)="handleEdit(forumPost)"
      >
        Edit
      </button>
      <button
        mat-button
        class="btn btn-danger"
        (click)="handleDelete(forumPost.id)"
      >
        Delete
      </button>
    </mat-card-actions>
    <mat-expansion-panel (opened)="handleCommentsPanelOpen()">
      <mat-expansion-panel-header>
        <mat-panel-title> Comments </mat-panel-title>
      </mat-expansion-panel-header>
      <button (click)="handleAddComment()" class="btn btn-primary add-btn">Add Comment</button>
      <div *ngIf="isCommentsLoading">Loading...</div>
      <div *ngIf="!isCommentsLoading && !comments.length">
        This post doesn't have any comments.
      </div>
      <div *ngIf="!isCommentsLoading && comments.length">
        <div *ngFor="let comment of comments">
          <app-forum-post-comment-card
            [comment]="comment"
            (editComment)="handleEditComment($event)"
          ></app-forum-post-comment-card>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-card-content>
</mat-card>
