.save-btn {
  background-color: #588157;
  border: #588157;
  color: #ffffff;
  cursor: pointer;
}

.save-btn:disabled {
  background-color: #588157;
  opacity: 75%;
  border: #588157;
  color: #ffffff;
  cursor: pointer;
}

.save-btn:hover {
  background-color: darken(#588157, 10%);
  border: #588157;
  color: #ffffff;
  cursor: pointer;
}

.form-card {
  background-color: #f0f2ef;
}
