<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <button
        class="btn btn-light float-left"
        (click)="closeAddEdit.emit(false)"
      >
        Back
      </button>
      <h3 class="text-center">{{ title }}</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="formGroup" (submit)="submit()">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            id="title"
            formControlName="title"
            type="text"
            class="form-control w-100"
          />
          <!-- Added w-100 for full width -->
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea
            id="content"
            formControlName="content"
            type="text"
            class="form-control w-100"
            rows="5"
          ></textarea>
          <!-- Use textarea for larger content area -->
        </div>
        <div class="text-danger mb-3">
          {{ errorMessage }}
        </div>
        <div class="d-flex justify-content-center">
          <button
            mat-button
            (click)="closeAddEdit.emit(false)"
            class="btn btn-secondary mr-3"
          >
            Cancel
          </button>
          <button
            class="btn btn-primary save-btn"
            type="submit"
            [disabled]="!formGroup.valid"
          >
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
