html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background-color: #f0f2ef;
}

body {
  background-color: #f0f2ef;
  background-attachment: scroll;
  min-height: 100vh;
  overflow: hidden;
}

.logo {
  width: 300px;
}

.active-tab {
  background-color: white;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  padding: 24px;
  margin-left: -24px;
  margin-right: -24px;
}
