<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TeachersSide</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    <div
      class="container-fluid d-flex justify-content-between align-items-center"
    >
      <img
        alt="TeachersSide"
        src="../../../../assets/images/logo.PNG"
        class="m-3 logo"
      />
      <button (click)="logOut()" class="btn btn-dark m-3">Log out</button>
    </div>
    <div class="container mt-5 mb-5 rounded-bottom">
      <mat-tab-group
        mat-stretch-tabs="false"
        mat-align-tabs="start"
        [(selectedIndex)]="selectedTabIndex"
        (selectedTabChange)="onTabChanged($event)"
      >
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="{{ selectedTabIndex === 0 ? 'active-tab' : '' }}">
              <i class="fas fa-file"></i> &nbsp; Materials
            </span>
          </ng-template>
          <app-materials-tab></app-materials-tab>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="{{ selectedTabIndex === 1 ? 'active-tab' : '' }}">
              <i class="fas fa-comments"></i> &nbsp; Forums
            </span>
          </ng-template>
          <app-forums-tab></app-forums-tab>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="{{ selectedTabIndex === 2 ? 'active-tab' : '' }}">
              <i class="fas fa-calendar"></i> &nbsp; Events
            </span>
          </ng-template>
          <app-events-tab></app-events-tab>
        </mat-tab>
      </mat-tab-group>
    </div>
  </body>
</html>
