<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeachersSide</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body style="background-color:#F0F2EF;">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
            <img alt="TeachersSide" src="#">
            <p>Education Platform</p>
        </a>
        <div class="collapse navbar-collapse" style="background-color:#F0F2EF;" >
            <mat-tab-group class="navbar-nav ml-auto">
                <mat-tab label="Materials"><app-materials-tab></app-materials-tab></mat-tab>
                <mat-tab label="Forums"><app-forums-tab></app-forums-tab></mat-tab>
                <mat-tab label="Events"><app-events-tab></app-events-tab></mat-tab>
              </mat-tab-group>
            <button (click)="logOut()" class="logout-button">Log out</button>
        </div>
    </nav>
    <!-- <div class="container">
              <h1>Welcome to Education platform - Teacher Side</h1>
    </div> -->
</body>
</html>
