button{
    background-color: #588157;

    color: #fff;

    padding: 20px;

    border: none;

    border-radius: 5px;

    cursor: pointer;

    font-size: 16px;

    width:100px;

    margin:50;
}