img{
  position:relative;
 
  margin-left: -60px;
}

button{
 background-color:#EFA106;

 border-color:#EFA106;

 border-radius:5px;

 color: white;

 font-weight: bolder;

 cursor: pointer;
 
 padding: 10px;
}
.card{
  margin:50px;

  background-color:#F0F2EF;

  height: auto;

  width: 300px;
}