<div *ngIf="isLoading">Loading...</div>
<mat-card class="card mb-4" appearance="outlined" *ngIf="event && !isLoading">
  <mat-card-header class="mb-3">
    <mat-card-title>{{ event.title }}</mat-card-title>
    <mat-card-subtitle class="text-muted">{{ event.location }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    class="card-img-top"
    [src]="'https://localhost:7067' + event.imagePath"
    alt="Event Image"
    *ngIf="event.imagePath"
  />
  <mat-card-content class="card-body">
    <div>
      {{ event.description }}
    </div>
    <small class="text-muted">
      Posted by: {{ event.creator.firstName }} {{ event.creator.lastName }}
    </small>
    <hr />
    <small class="text-muted">
      Start: {{ event.startDate | date : "medium" }} <br />
      End: {{ event.endDate | date : "medium" }}
    </small>
  </mat-card-content>
  <mat-card-actions *ngIf="isCreator(event)" class="d-flex justify-content-end">
    <button
      mat-button
      class="btn btn-secondary mr-3"
      (click)="handleEdit(event)"
    >
      Edit
    </button>
    <button mat-button class="btn btn-danger" (click)="handleEdit(event)">
      Delete
    </button>
  </mat-card-actions>
</mat-card>
