<div class="slikaLogIn">
    <img src="p4.png" >
</div>

<form [formGroup]="formGroup" (ngSubmit)="submit()">
    <div class="logo2">
        <img src="logo2.png" width="300px" >
        <h2> Get Started Now </h2>

    </div>
    <div class="container">
        <div style="padding: 5px">
            <label for="firstName">First Name</label><br/>
            <input type="text" placeholder="Enter first name" name="firstName" required formControlName="firstName">
        </div>
        <div style="padding: 5px">
            <label for="lastName">Last Name</label><br/>
            <input type="text" placeholder="Enter last name" name="lastName" required formControlName="lastName">
        </div>
        <div style="padding: 5px">
            <label for="userName">User Name</label><br/>
            <input type="text" placeholder="Enter user name" name="userName" required formControlName="userName">
        </div>
        <div style="padding: 5px">
            <label for="email">Email</label><br/>
            <input type="text" placeholder="Enter email" name="email" required formControlName="email">
        </div>
        <div style="padding: 5px">
            <label for="password">Password</label><br/>
            <input type="password" placeholder="Enter Password" name="password" required formControlName="password">
            <app-validation-rules [validationRules]="passwordValidatorRules" [field]="formGroup.controls['password'].value"></app-validation-rules>
        </div>
        <div style="padding: 5px">
            <button type="submit" [disabled]="formGroup.invalid">Register</button>
        </div>
        <div style="padding: 5px" style="color: red;">
            {{errorMessage}}
        </div>
    </div>
</form>