<div class="bg-white">
  <mat-form-field *ngIf="!isAddEditMaterialFormOpen">
    <mat-select
      [disabled]="isSubjectsLoading"
      (selectionChange)="onSubjectSelect($event)"
    >
      <mat-option
        *ngFor="let subject of subjects"
        [value]="subject.id"
        style="margin: 50px"
      >
        {{ subject.name }} -
        {{ subject.category | subjectCategory }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <app-add-edit-material
    *ngIf="isAddEditMaterialFormOpen"
    [material]="materialForEdit"
    [subject]="getSelectedSubject()"
    (closeAddEdit)="closeAddEditEvent($event)"
  >
  </app-add-edit-material>
  <div *ngIf="selectedSubjectId && !isAddEditMaterialFormOpen">
    <button (click)="goToAddMaterial()">Add</button>
    <div *ngIf="isMaterialsLoading">Loading materials...</div>
    <div *ngIf="!isMaterialsLoading">
      <div *ngFor="let material of materials">
        <app-material-card
          [material]="material"
          [subject]="getSelectedSubject()"
          (editMaterial)="goToEditMaterial($event)"
        ></app-material-card>
      </div>
    </div>
  </div>
</div>
