<div class="bg-white">
  <div *ngIf="!isAddEditMaterialFormOpen">
    <select [disabled]="isSubjectsLoading" (change)="onSubjectSelect($event)">
      <option value="0" disabled selected>Select a subject</option>
      <option *ngFor="let subject of subjects" [value]="subject.id">
        {{ subject.name }} ({{ subject.category | subjectCategory }})
      </option>
    </select>
  </div>
  <app-add-edit-material
    *ngIf="isAddEditMaterialFormOpen"
    [material]="materialForEdit"
    [subject]="getSelectedSubject()"
    (closeAddEdit)="closeAddEditEvent($event)"
  >
  </app-add-edit-material>
  <div *ngIf="selectedSubjectId && !isAddEditMaterialFormOpen">
    <button (click)="goToAddMaterial()">Add</button>
    <div *ngIf="isMaterialsLoading">Loading materials...</div>
    <div *ngIf="!isMaterialsLoading">
      <div *ngFor="let material of materials">
        <app-material-card
          [material]="material"
          [subject]="getSelectedSubject()"
          (editMaterial)="goToEditMaterial($event)"
        ></app-material-card>
      </div>
    </div>
  </div>
</div>
