.save-btn {
  background-color: #5171a5;
  border: #5171a5;
  color: #ffffff;
  cursor: pointer;
}

.save-btn:disabled {
  background-color: #5171a5;
  opacity: 75%;
  border: #5171a5;
  color: #ffffff;
  cursor: pointer;
}

.save-btn:hover {
  background-color: darken(#5171a5, 10%);
  border: #5171a5;
  color: #ffffff;
  cursor: pointer;
}

.form-card {
  background-color: #f0f2ef;
}
