button{
    background-color: #EFA106;

    color: #fff;

    padding:10px;

    margin:50px;

    border: none;

    border-radius: 5px;

    cursor: pointer;
    
    font-size: 16px;

    width: 80px;
}