.add-btn {
  background-color: #efa106;
  border: #efa106;
  color: #ffffff;
  cursor: pointer;
}

.add-btn:disabled {
  background-color: #efa106;
  opacity: 75%;
  border: #efa106;
  color: #ffffff;
  cursor: pointer;
}

.add-btn:hover {
  background-color: darken(#efa106, 10%);
  border: #efa106;
  color: #ffffff;
  cursor: pointer;
}
